node_modules/
.env
tests/env.js
tests/logs.txt
mailview.html

#Archivos adicionales de pruebas unitarias
tests/createHTML.js
tests/handler.js
tests/results.html

#Archivos adicionales
*.pyc
*.DS_Store
*.log
*.py
tests/Test-Plan-FullPrestige_API.jmx
tests/data/actualizacion_perfil.csv
tests/data/empleados.csv
